@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<section class="features-split section">
    <div class="container" id="theapp">
        <div class="features-split-inner section-inner has-top-divider">
            <div class="section-header center-content change_title title_center">
                <div class="container-xs change_title title_center">
                    <h2 class="mt-0 mb-16 title-property">
                        The App
                    </h2>
                    @*<p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
                        </p>*@
                </div>
            </div>
            <div class="split-wrap invert-mobile row">


                <div class="split-item col item_sort1">
                    <div class="split-item-content reveal-from-left center-content-mobile col-2" data-reveal-delay="200" data-reveal-container=".split-item">
                        <p class="m-0  text_1" >
                            Easily create standardized modules and test systems using pre-defined and configurable templates. Retain all records digitally with simplified workflows. Generate PDFs in seconds.
                        </p>
                    </div>
                    <div class="split-item-image image_1 split-item-image-fill illustration-element-01 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="image_size_1" src="~/landing/images/image_1.png" alt="Features split image 01">
                        <!-- this element is for demo purpose only -->

                    </div>
                </div>

                <div class="split-item col item_sort2">
                    <div class="split-item-content reveal-from-left center-content-mobile col-2" data-reveal-delay="200" data-reveal-container=".split-item">
                        <p class="m-0  text_2" >
                            Training and competency are visible to the trainer, trainee, and leadership. Transparency creates engagement and an understanding of expectations.
                        </p>
                    </div>
                    <div class="split-item-image image_2 split-item-image-fill illustration-element-03 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="image_size_2" src="~/landing/images/image_2.png" alt="Features split image 03">
                        <!-- this element is for demo purpose only -->
                    
                    </div>
                </div>
               
                <div class="split-item col item_sort3">
                    <div class="split-item-content reveal-from-right center-content-mobile col-2" data-reveal-delay="200" data-reveal-container=".split-item">
                        <p class="m-0  text_3" >
                            Search and retrieve any data using multiple filters in an intuitive user interface. 
                        </p>
                    </div>
                    <div class="split-item-image image_3 split-item-image-fill illustration-element-02 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="image_size_3" src="~/landing/images/image_3.png" alt="Features split image 02">
                        <!-- this element is for demo purpose only -->
                        
                    </div>
                </div>

                <div class="split-item col item_sort4">
                    <div class="split-item-content reveal-from-right center-content-mobile col-2" data-reveal-delay="200" data-reveal-container=".split-item">
                        <p class="m-0  text_4" >
                            From initiation through approval all documents are time stamped for a transparent audit trail. E-signatures meet 21 CFR Part 11 requirements and all data is secured.
                        </p>
                    </div>
                    <div class="split-item-image image_4 split-item-image-fill illustration-element-02 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="image_size_4" src="~/landing/images/image_4.png" alt="Features split image 02">
                        <!-- this element is for demo purpose only -->
                       
                    </div>
                </div>
            

            </div>
        </div>
    </div>
</section>
