@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<section class="hero section center-content invert-color illustration-section-01" style="overflow:hidden; padding-top:225px;">
    <div class="container" id="intro">
        <div class="hero-inner section-inner pb-0">

            <div class="dir">
                <div class="dis">
                    <p class="title_intro">
                        Capture compliance in <span class="change_intro_span">real-time</span>

                        <div class="intro_content">
                            For laboratories who want to better engage their teams in the training and competency process.
                         </div>

                        <div class="intro_content">
                            For leaders who want to eliminate missed compliance and the time spent on searching for evidence.
                        </div>

                    </p>
                    <div class="container-xs">
                        <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
                        <form action="https://forms.theproficientlab.com/theproficientlab/form/LearnMore1/formperma/qtXThF6yx1rsWCSBrLgsRXQRYD85Hr51ddLFhC3mb1Q/htmlRecords/submit" name="form" id="form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
                            <input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
                            <input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
                            <input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->

                            <fieldset>
                                <div class="mb-24">
                                    <div class="form-group-desktop">
                                        <input class="form-input" type="email" maxlength="255" name="Email" placeholder="Email..">
                                        <button class="button button-change">LEARN MORE <img class="arrow_rigth" src="~/landing/images/Vector.png" /> </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div>
                    <img src="~/landing/images/hero.png" />
                </div>
            </div>
            <div class="why_us">
                <div class="video_whyus">
                    <div class="hero-figure reveal-from-left" data-reveal-delay="600">
                        <iframe width="550" height="310" src="https://www.youtube.com/embed/RTxhlJwHGJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                    <div class="whyus_text reveal-from-right">
                        <div class="whyus_text_title">Why Us</div>
                        <div class="whyus_listitmes"><div class="list_dot"></div> Establish team-bassed data entry for all training and competency activities throughout the year, while maintaining oversight. </div>
                        <div class="whyus_listitmes"><div class="list_dot"></div> Maximize time spent on one-on-one training and direct competency observations. </div>
                        <div class="whyus_listitmes"><div class="list_dot"></div> Manage and sign off on compliance in one inspection-ready workspace.</div>
                    </div>
                </div>
                <div class="schedule">
                    <a class="" href="#">SCHEDULE A DEMO</a>
                </div>
            </div>
        </div>
    </div>
</section>






